<html>
    <head>
        <title>CRUD (mongo) - Home Page</title>
    </head>
    <body>
        <center>
            <h1 style='color:blue'>--* HOME  PAGE *--</h1>
            <hr>
            <a href='/'><span style='color:chocolate'>Home</span></a> &nbsp; &nbsp;
            <a href='/shop/entry'><span style='color:chocolate'>Entry</span></a> &nbsp; &nbsp;
            <a href='/shop/show'><span style='color:chocolate'>Show</span></a>
            <hr>
           
        </center>
    </body>
</html>